@font-face {
    font-family: ProximaNova;
    src: url('../fonts/ProximaNova-Regular.ttf'); 
}
@font-face {
    font-family: OstrichSans;
    src: url('../fonts/open-sans-light.ttf'); 
}
@font-face {
    font-family: Rubik;
    src: url('../fonts/Rubik-Bold.ttf'); 
}
@font-face {
    font-family: Summer;
    src: url('../fonts/Summer.otf'); 
}
@font-face {
    font-family: Wolgast;
    src: url('../fonts/Wolgast_Two_Bold.ttf'); 
}
@font-face {
    font-family: IntroRust;
    src: url('../fonts/IntroRustG-Base2Line.otf'); 
}


