
.header{
	position: relative;
	padding-top: 50px;
	height: 900px;
	background-image: url("../img/1.jpg");
	background-size: cover;
	background-position: 0 100%;
	overflow: hidden;

}
.triangle-bottom-right{
	position: absolute;
	right: 0;
	bottom: 0;
	border-left: 100vw solid transparent;
	border-bottom:250px solid white;	
}
.triangle-bottom-left{
	position: absolute;
	left: 0;
	bottom: 0;
	border-right: 100vw solid transparent;
	border-bottom:250px solid white;	
}
.triangle-top-right{
	position: absolute;
	right: 0;
	top: 0;
	border-left: 100vw solid transparent;
	border-top:250px solid white;	
}
.triangle-top-left{
	position: absolute;
	right: 0;
	top: 0;
	border-right: 100vw solid transparent;
	border-top:250px solid white;	
}


.menu{

	&__list{
		display: flex;
		list-style: none;
		margin: 0;
		padding: 0;

	}
	&__item{
		margin: auto;
	}
	&__link{
		font-family: ProximaNova;
		color: white;
		opacity: 0.6;
		font-size: 14px;
		font-weight: 700;
		line-height: 40px;
		text-transform: uppercase;
		text-decoration: none;
		transition: All 0.5s ease;
		&:hover{
			opacity: 1;
			
		}
	}
	&__link--company{
		color: #f39c12;
		font-size: 35px;
		opacity: 1;
		text-transform: none;
	}
}
.container{
	width: 1024px;
	margin: 0 auto;
}

.logo{
	margin: 0 auto;
	width: 386px;
	&__rogue{
		margin: 0 auto;
		width: 200px;
		height: 150px;
		background-image: url("../img/rogue.png");
		background-size: 70%;
		background-repeat: no-repeat;
		background-position: center;
		
	}
}

.about{
	margin-bottom: 150px;
	&__title{
		color: #222;
		font-family: OstrichSans;
		font-size: 24px;
		font-weight: 900;
		line-height: 30px;
	}
	&__text{
		color: #222;
		font-family: ProximaNova;
		font-size: 16px;
		font-weight: 400;
		line-height: 21px;
	}
	&__image{
		margin: 20px;
		&--right{
			float: right;
		}
		&--left{
			float: left;
		}
	}

}

.clearfix{
	&:after{
		content: '';
		display: table;
		clear: both;
	}
}

.middle{
	position: relative;
	height:776px;
	background-image: url("../img/2.jpg");
	background-size: cover;
	background-position: 0 100%;
	overflow: hidden;
}

.feedback-box{
	&__title{
		margin: 0;
		margin-bottom: 65px;
		text-align: center;
		color: black;
		font-family: OstrichSans;
		font-size: 30px;
		font-weight: 900;
		text-transform: uppercase;
	}
	&__col-left{
		width: 50%;
		float: left;
	}
	&__col-right{
		float: right;
	}
}
.feedback{
	margin-bottom: 80px;
	width: 380px;
	&--right{
		float: right;
		margin-top: 150px;
	}
	&__text{
		margin: 0;
	}
	&__cloud{
		width: 380px;
		height: 51px;
		background-image: url("../img/cloud.png");
	}
	&__user{
		float: right;
		width: 180px;
	}
	&__avatar{
		margin-right: 10px;
		float: left;
		width: 46px;
		height: 46px;
		background-color: black;
		border-radius: 50%;
	}
	&__name{
		color: #2a323a;
		font-family: ProximaNova;
		font-size: 16px;
		font-weight: 700;
		line-height: 21px;
	}
	&__date{
		color: #898989;
		font-family: ProximaNova;
		font-size: 14px;
		font-weight: 400;
		line-height: 21px;
	}
}

.footer{
	position: relative;
	height: 660px;
	overflow: hidden;
	&__board{
		padding-top: 300px;
		width: 100vw;
		position: absolute;
		height: 660px;
		background-color: rgba(42, 50, 58, 0.9);
	}
	
	&__contact{
		width: 240px;
		float: left;
		min-height: 183px;
		border-right: 1px dotted #a1a1a1;
		font-family: ProximaNova;
		font-size: 16px;
		font-weight: 400;
		line-height: 21px;
		color: white;
	}
	&__phone{
		margin-bottom: 0;
	}

	&__email{
		margin-top: 0;
	}

	&__link-contact{
		color: #2ecc71;
		text-decoration: none;
		&:hover{
			text-decoration: underline;
		}
	}

	&__title{
		color: #f39c12;
		font-family: OstrichSans;
		font-size: 24px;
		font-weight: 900;
		line-height: 21px;
		text-decoration: none;
	}

	&__menu{
		width: 240px;
		float: left;
		padding-left: 80px;
		min-height: 183px;
		border-right: 1px dotted #a1a1a1;
		font-family: ProximaNova;
		font-size: 16px;
		font-weight: 400;
		line-height: 21px;
		
	}
	&__nav{
		display: block;
		text-decoration: none;
		color: white;
		&:hover{
			text-decoration: underline;
		}
	}

	&__form{
		position: relative;
		padding-left: 80px;
		float: right;	
	}
	&__input{
		display: block;
		margin-bottom: 20px;
		width: 380px;
		box-sizing: border-box;
		height: 42px;
		line-height: 42px;
		background-color: transparent;
		outline: none;
		border: none;
		border-bottom: 3px solid #a1a1a1;
		opacity: 0.5;
		color: white;
		font-family: ProximaNova;
		font-size: 16px;
		font-weight: 400;
	}
	&__textarea{
		display: block;
		width: 380px;
		height: 120px;
		box-sizing: border-box;
		opacity: 0.5;
		color: white;
		font-family: ProximaNova;
		font-size: 16px;
		font-weight: 400;
		background-color: transparent;
		border: 3px solid #a1a1a1;
	}
	&__btn{
		position: absolute;
		top: 0px;
		right: 0px;
		display: block;
		height: 40px;
		width: 60px;
		background-color: transparent;
		background-image: url("../img/arrow.png");
		background-repeat: no-repeat;
		background-position: center;
		border: none;
		font-size: 0;
		cursor: pointer;
	}

}

